*{box-sizing: border-box;}
:root{
    --background-color: #16122a;
    --white-color: #ffffff;
    --icons-color:#5933c8;
    --text-color:#8d8b97;
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
    --purple-dark-1: #3E0F64;
    --purple-medium-1: #AA83C8;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}
html {
  background-color: var(--background-color);
}
body{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    margin: 4px 0 0;
    padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
h2 {
  font-size: 24px;
  color: var(--white-color);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--white-color);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--white-color);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

/* Input */
input {
  background-color: #8d8b9750;
  color: var(--white-color);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: #ffffff70;
}

/* Button */
button {
  background-color: var(--icons-color);
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

/* Header */
.logo{
    width: 160px;
}
.box-logo{
    display: flex;
    justify-content: center;
}
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
  padding: 0 24px;
}
.movieTitle{
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  overflow: hidden;
  max-width: 160px;
  color: var(--white-color);
  
}
/* Trending & Categories */
.trendingPreview-container,
.categoriesPreview-container,
footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title {
  margin-bottom: 24px;
}

/* Movies */
.movie-container {
  cursor: pointer;
}

.movie-img {
  border-radius: 8px;
}

/* Lists */
.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.category-container img{
  width: 23px;
  height: 25px;
  margin-right: 7px;
}
/* Header Container */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
  margin-top: 20px;
  margin-bottom: 16px;
}

.header-arrow {
  cursor: pointer;
  display: inline-block;
  background-color: #8d8b9770;
  padding: 5px;
  border-radius: 15px;

}

.header-arrow--white {
  color: var(--text-color);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--white-color);
  
}

.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Trending Preview */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 13px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

/* Category Container */
.category-container {
  width: 46%;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: start;
  background-color: #8d8b9750 ;
  margin: 4px;
  border-radius: 10px;
  padding: 5px 7px;
  transition: all 300ms ease-in-out;
}
.category-container:hover{
  background-color: var(--icons-color);
  opacity: 80%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}




/* Generic List Container */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Detail Container */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--background-color);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 10px 0 40px 0;
  padding: 0;
  font-size: 1.8rem;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}

.movieDetail-score::before {
  content: '★';
  color: var(--icons-color);
  padding-right: 4px;
}
.movieCalification{
  color: var(--icons-color);
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.movieDetail-description {
  margin: 0 0 24px;
}

/* Related Movies Container */
.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inactive */
.inactive {
  display: none;
}