html{
    background-color: red;
}
.logo{
    width: 220px;
}
.caroussel-container--loading{
  height: 300px;
  min-height: 300px;
  max-height: 500px;
  width: 750px;
  max-width: 750px;
  min-width: 500px;
  margin-bottom: 10px;
}
.carousel-dots {
  bottom: 20px;
}
.header-searchForm{
    width: 60%;
}